<a href="https://www.kaggle.com/code/patkim3480/patrick-kariuki?scriptVersionId=264090041" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

**import the pandas and numpy**

NAME:Patrick Kariuki
TASK: DATA WRANGLING 
DESCRIPTION: DATA WRANGLING USING PYTHON  ON netflix

In [85]:
#import the pandas and numpy
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [86]:
import os
#Defines a variable called filepath and stores the path to the CSV file that contains Netflix shows data
filepath = "/kaggle/input/netflix-shows/netflix_titles.csv"
#Uses Pandas (pd) to read the CSV file at filepath
netflix_df=pd.read_csv(filepath)

# **Discover the Dataset - understand the data**#

In [87]:
#display the first 10 rows of the dataset
#print("Display the first 10 rows\n\n", df.head(10) )
df.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...

In [88]:
#Discover the Dataset - understand the data ;non_null , dtypes, the total columns and the missig values
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [89]:
#get to know the number of the number rows and columns
netflix_df.shape

(8807, 12)

> @the dataframe has 8807 rows and 12 columns****

In [90]:
#list all the columns that  dataframe has  in form oa list
netflix_df.columns.tolist()

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description']

In [91]:
#Check the datatypes of all the columns
print("The Data types of the various columns\n",netflix_df.dtypes)

The Data types of the various columns
 show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [92]:
#Group and count the missing values using isnull().sum()
print("The Sum of Missing Values per Columns\n\n",netflix_df.isnull().sum())

The Sum of Missing Values per Columns

 show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [93]:
#Group and count the duplicates 
netflix_df.duplicated().sum()

0

# Structuring Format and Standardize

In [94]:
#format the columns to be consistent 
def clean_columns(netflix_df):
    """
    remove all the whitespaces
    convert the columns to lowercase
    the white spaces in between the words in column with an underscore"""
    netflix_df.columns =   netflix_df.columns.str.strip().str.lower().str.replace(' ', '-')
    return netflix_df
    
#call the clean_cuolumns() function
netflix_df = clean_columns(netflix_df)

#display the the cleaned columns
print(netflix_df.columns)

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

**Datetime conversion**

In [95]:
#convert the date added column to date
netflix_df['date_added'] = pd.to_datetime(netflix_df['date_added'], format='mixed')

In [96]:
netflix_df['date_added'].dtype

dtype('<M8[ns]')

In [97]:
#print(netflix_df['date_added']) 
print(netflix_df['duration'])

0          90 min
1       2 Seasons
2        1 Season
3        1 Season
4       2 Seasons
          ...
8802      158 min
8803    2 Seasons
8804       88 min
8805       88 min
8806      111 min
Name: duration, Length: 8807, dtype: object

In [98]:
#seprate the duration inot nummeric valuea and unit
netflix_df[['duration_value','duration_unit']] = netflix_df['duration'].str.extract(r'(\d+)\s*(\w+)')
#netflix_df[['duration_value','duration_unit']]

In [99]:
#now convert  hte duration_value to numeric type
netflix_df['duration_value'] = pd.to_numeric(netflix_df['duration_value'], errors='coerce')

In [100]:
#display the results after the conversion
print(netflix_df[['duration_value','duration_unit']])

      duration_value duration_unit
0               90.0           min
1                2.0       Seasons
2                1.0        Season
3                1.0        Season
4                2.0       Seasons
...              ...           ...
8802           158.0           min
8803             2.0       Seasons
8804            88.0           min
8805            88.0           min
8806           111.0           min

[8807 rows x 2 columns]

# CLEANING

**Remove duplicates**

In [101]:
#check for duplicate rows
print("Duplicates\n",netflix_df.duplicated().sum())

Duplicates
 0

In [102]:
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_value,duration_unit
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",90.0,min
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2.0,Seasons
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,1.0,Season
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",1.0,Season
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,2.0,Seasons

**Remove /drop the irrelevan columns that will not be useful in the analysis**

In [103]:
#Drop the Description column 
netflix_df= netflix_df.drop(columns=['description'])

In [104]:
#confirm that the column has been dropped 
netflix_df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'duration_value',
       'duration_unit'],
      dtype='object')

# DATA CLEANING: HANDLING MISSING VALUES

In [105]:
netflix_df.isnull().sum()

show_id              0
type                 0
title                0
director          2634
cast               825
country            831
date_added          10
release_year         0
rating               4
duration             3
listed_in            0
duration_value       3
duration_unit        3
dtype: int64

# ** Handling Missing values for Director column**

In [106]:
#list of the Director Cast pairs and the number of times they apear
netflix_df['dir_cast'] = netflix_df['director']+'---'+ netflix_df['cast']

In [107]:
netflix_df['dir_cast']

0                                                     NaN
1                                                     NaN
2       Julien Leclercq---Sami Bouajila, Tracy Gotoas,...
3                                                     NaN
4                                                     NaN
                              ...
8802    David Fincher---Mark Ruffalo, Jake Gyllenhaal,...
8803                                                  NaN
8804    Ruben Fleischer---Jesse Eisenberg, Woody Harre...
8805    Peter Hewitt---Tim Allen, Courteney Cox, Chevy...
8806    Mozez Singh---Vicky Kaushal, Sarah-Jane Dias, ...
Name: dir_cast, Length: 8807, dtype: object

In [109]:
#count the uniques values  in the dir_cast pair
counts = netflix_df['dir_cast'].value_counts()
counts

dir_cast
Rajiv Chilaka---Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jigna Bhardwaj, Rajesh Kava, Mousam, Swapnil                                                                                                                    12
Rathindran R Prasad---Aishwarya Rajesh, Vidhu, Surya Ganapathy, Madhuri, Pavel Navageethan, Avantika Vandanapu                                                                                                              4
S.S. Rajamouli---Prabhas, Rana Daggubati, Anushka Shetty, Tamannaah Bhatia, Sathyaraj, Nassar, Ramya Krishnan, Sudeep                                                                                                       4
Louis C.K.---Louis C.K.                                                                                                                                                                                                     3
Stan Lathan---Dave Chappelle                                                                                                                                                                                                3
                                                                                                                                                                                                                           ..
César Rodrigues---Larissa Manoela, André Luiz Frambach, Erasmo Carlos, Mariana Amâncio, Amanda Orestes, Eike Duarte, Nayobe Nzainab, Katiuscia Canoro, Phellyx Moura, Dani Ornellas, Michel Bercovitch, Sílvia Lourenço     1
Johnny Breedt---Gys de Villiers, Juanita de Villiers, Gérard Rudolf, Paul Eilers, Pete Spyropoulos, Jaco Muller, Armand Aucamp, Christine Tesco                                                                             1
Chung Mong-hong---Wu Chien-ho, Chen Yi-wen, Samantha Ko, Liu Kuan-ting, Greg Hsu, Wu Tai-ling, Wen Chen-ling, Yin Shin                                                                                                      1
Josh Z. Weinstein, Joshua Z. Weinstein---Menashe Lustig, Ruben Niborski, Yoel Weisshaus, Meyer Schwartz, Yoel Falkowitz, Ariel Vaysman                                                                                      1
Mozez Singh---Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanana, Manish Chaudhary, Meghna Malik, Malkeet Rauni, Anita Shabdish, Chittaranjan Tripathy                                                                         1
Name: count, Length: 5605, dtype: int64

In [110]:
#Check the dir_cast pair with more than or equal 3 counts
filtered_counts = counts[counts>=3]

In [111]:
#Get the values 
filtered_values = filtered_counts.index

In [114]:
#convert the values into a list
list_dr_cast =list(filtered_values)

#declare a dictionary
dict_direcast = dict()
#
for i in list_dr_cast:
    director, cast  = i.split('---')
    dict_direcast[director] = cast

In [115]:
#Fill in the missing directors
for i in range(len(dict_direcast)):
    netflix_df.loc[(netflix_df['director'].isna()) & (netflix_df['cast'] ==
    list(dict_direcast.items())[i][1]), 'director'] =list(dict_direcast.items())[i][0]

In [116]:
netflix_df.isnull().sum()

show_id              0
type                 0
title                0
director          2616
cast               825
country            831
date_added          10
release_year         0
rating               4
duration             3
listed_in            0
duration_value       3
duration_unit        3
dir_cast          3107
dtype: int64

In [117]:
#Assign 'NotGiven to all other null valuea not filled 
netflix_df.loc[netflix_df['director'].isna(),'director'] = 'Not_Given'

In [118]:
#then confirm the missing values 
netflix_df.isnull().sum()
# Missing values in the Director column successfully filled

show_id              0
type                 0
title                0
director             0
cast               825
country            831
date_added          10
release_year         0
rating               4
duration             3
listed_in            0
duration_value       3
duration_unit        3
dir_cast          3107
dtype: int64

*# Missing values in the Director column successfully filled*

# Missing Values in the Country Column